{% extends "base.html" %}
{% load static %}

{% block page_content %}


<h1 style ="color:rgba(2, 22, 40, 0.868);margin-left: 10%;"><font face="Georgia"><b> What is CARE ? </b></font></h1>
<h4 style ="color:rgba(2, 22, 40, 0.868);margin-left: 10%"><font face="Georgia"> CARE is a digital solution to calculate the total reduction in emissions from current to optimized state of a network / routing analysis</font></h4>

<body id="bg" style="background-color:white">
    
<center>
<video width="900" height="mr-auto" class="embed-reponsive embed-responsive-16by9" controls>
<source src="{% static 'video/CARE 3 min.mp4' type='video/mp4' %}">
</video>
</center>    

</body>

{% endblock %}