{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Topics</h1> 
<div class="row">
{% for links in titlelinks %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ links.title }}</h5>
                <p class="card-text">{{ links.description }}</p>
                <a href="{{ links.link }}">{{ links.link }}</a>    
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}